nav .brand-logo i {
    font-size: 75px;
}

.inner-container {
    background-color: rgba(22, 19, 19, 0.849);
    margin-top: 5px;
    border-style: solid;
    border-color: red;
    padding-left: 20px;
    padding-right: 20px;
}

img.responsive-img, video.responsive-video {
    justify-content: left;
    max-width: 40%;
    margin-left: 10px;
    padding-left: 20px;
    margin-top: -20px;

}input[type=text]:not(.browser-default), input[type=date]:not(.browser-default) {
    background-color: rgba(255, 255, 255, 0.849);
}

