body {
    background-image: url("../images/heather-shevlin-city.jpg");
}

nav .brand-logo {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2.00px; 
}

.inner-container {
    border-radius: 25px;
    background-color: rgba(22, 19, 19, 0.849);
    color: white;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

img.responsive-img, video.responsive-video {
    justify-content: left;
    max-width: 40%;
    margin-left: 10px;
    padding-left: 20px;
}

input[type=text]:not(.browser-default), input[type=date]:not(.browser-default) {
    background-color: rgba(255, 255, 255, 0.849);
}
